// 公共表单按钮
.action-box {
    width     : 100%;
    text-align: center;
    overflow  : hidden;

    .btn {
        cursor       : pointer;
        text-align   : center;
        display      : block;
        overflow     : hidden;
        margin       : auto;
        width        : 662upx;
        height       : 88upx;
        line-height  : 88upx;
        border-radius: 4upx;
        font-size    : 32upx;
        font-family  : PingFangSC-Regular;
        font-weight  : 400;
    }

    .send-btn {
        background: #ff3366;
        color     : #ffffff;
    }

    .del-btn {
        border    : 1px solid #ff3366;
        background: transparent;
        color     : #ff3366;
        margin-top: 20upx;
    }

    .unsend-btn {
        background: #ffaec2;
    }
}