.wuliu {
	// background: #fff;
}

.wuliuCon {
	background: #fff;
	.orderNum {
		height: 107upx;
		padding: 0 25upx;
		border-top: 1upx solid #e5e5e5;
		border-bottom: 1upx solid #e5e5e5;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.left {
			color: #2f3a40;
			font-size: 28upx;
		}
		.right {
			color: #677172;
			font-size: 28upx;
			.icon {
				width: 24upx;
				height: 25upx;
				display: inline-block;
				background: url('~@/static/images/wuliu/arrow_down_grey.png');
				background-size: 100%;
				vertical-align: middle;
				margin-left: 10upx;
			}
		}
	}
}
.wuliuShow {
	padding: 0 25upx;
	padding-top: 30upx;
	padding-bottom: 25upx;
	border-bottom: 1upx solid #e5e5e5;
	.state {
		margin-bottom: 10upx;
		.leftText {
			color: #889696;
			font-size: 28upx;
		}
		.detial {
			color: #2f3a40;
			font-size: 28upx;
			margin-left: 23upx;
		}
		.type {
			color: #ff3366;
		}
	}
	.pro {
		.imgCon {
			.imgList {
				width: 87upx;
				height: 84upx;
				position: relative;
				border-radius: 10upx;
				display: inline-block;
				margin-right: 15upx;
				.img {
					width: 87upx;
					height: 84upx;
					border-radius: 10upx;
					border: 1upx solid #e5e5e5;
				}
				.imgTips {
					width: 87upx;
					height: 31upx;
					position: absolute;
					width: 100%;
					bottom: 0;
					background: rgba(103, 113, 114, 1);
					opacity: 0.6;
					color: #fff;
					text-align: center;
					line-height: 31upx;
					font-size: 24upx;
				}
			}
		}
	}
}

.wuliuDetial {
	.head {
		height: 80upx;
		line-height: 80upx;
		color: #889696;
		font-size: 28upx;
		margin: 0 25upx;
		border-bottom: 1upx solid #e5e5e5;
	}
	.wuliuText {
		display: flex;
		position: relative;
		.left {
			width: 100upx;
			text-align: center;
			.circle {
				margin: 0 auto;
				width: 18upx;
				height: 18upx;
				border-radius: 50%;
				background: #dce4e6;
				position: absolute;
				left: 32upx;
				top: 40%;
			}
			.activeCircle {
				background: #ff3366;
				border: 8upx solid #ffccd9;
				left: 25upx;
				top: 31%;
			}
			.line {
				width: 5upx;
				height: 150upx;
				background: #dce4e6;
				position: absolute;
				left: 37upx;
				top: 49%;
			}
		}
		.right {
			padding: 25upx 0;
			margin: 0 25upx;
			border-bottom: 1upx solid #e5e5e5;
			.text {
				color: #2f3a40;
				font-size: 28upx;
			}
			.activeColor {
				color: #ff3366;
			}
			.time {
				color: #889696;
				font-size: 28upx;
				margin-top: 20upx;
			}
		}
	}
	.wuliuText:last-child {
		.right {
			border: none;
		}
		.line {
			display: none;
		}
	}
}
.orderCon {
	background: #f3f5f7;
	padding-top: 25upx;
	.orderNum {
		height: 108upx;
		background: #fff;
		margin-bottom: 10upx;
	}
}

.noData {
	text-align: center;
	margin-top: 196upx;
	.img {
		width: 451upx;
		height: 385upx;
		margin: 0 auto;
		display: block;
	}
	.tip {
		color: #889696;
		font-size: 28upx;
		margin-top: 50upx;
	}
}
